# Environment
.env

# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
*.egg-info/
dist/
build/

# Database
*.db

# Logs
logs/
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Output files
output.txt
merged_output.txt
